<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      internalLogLevel="Info" >

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="exceptions" xsi:type="File" fileName="exceptions.log" layout="`${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}`" />

		<target name="logfile" xsi:type="File" fileName="all.log" layout="`${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}`" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="WebApplication3.*" minlevel="Error" writeTo="exceptions" />
	</rules>
</nlog>